body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;

  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
a {
  text-decoration: none;
  color: #2e2f42;
}
li {
  list-style-type: none;
}
.header-top {
  background-color: #fff;
}

.nav-title {
  font-weight: 500;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.color-logo {
  color: #2e2f42;
}

.logo-foot {
  color: #f4f4fd;
}

.nav-inner {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link {
}

.nav-info:focus {
  color: #404bbf;
}

.nav-info:hover {
  color: #404bbf;
}

.nav-info-first:first-child:active {
  color: #404bbf;
}
.address-title {
  font-style: normal;
}
.contacts-block {
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;

  color: #434455;
}

.contacts:last-child {
}

.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}

.main-page {
}

.section-intro {
  background-color: #2e2f42;
}

.intro-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

  background: #4d5ae5;
}

.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}

.methods {
  background: #fff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-transform: capitalize;
}

.methods-inner {
}

.methods-item {
}
.methods-item:first-child {
}
.methods-item:last-child {
}

.methods-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.methods-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-block {
}
.team-inner {
  background-color: #fff;
  text-align: center;
}
.team-inner:first-child {
}

.team-inner:last-child {
}

.team-photo {
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
}

.portfolio-block {
}
.portfolio-inner {
}

.portfolio-name,
.portfolio-app {
}

.foot {
  background-color: #2e2f42;
}
.foot-block {
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
